# Artifacts
/dist/
_version.py

# Caches
__pycache__/
.ipynb_checkpoints/
.*cache/

# Logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml

# Sphinx documentation
/docs/_build/

# Environments
/__pypackages__/
/*.venv/
